@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="container-fluid">

    <div class="headernav">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><img src="favicon.jpg" alt="" style="width: 60px; height: 69px;" /></div>
                <div class="col-lg-11 col-xs-9 col-sm-10 col-md-10 selecttopic">
                    <div class="dropdown">
                        <h2>Incompatible Food (တွဲဖက်၍ မစားသင့်သော အစားအစာများ)</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Body

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="#"></a></div>
                @{
                    int current = DateTime.Now.Year;
                    string year = (current == 2023) ? "2023" : $"2023 - {current}";
                }
                <div class="col-lg-8 col-xs-9 col-sm-5 ">Copyrights @year, <a href="https://forum.azyrusthemes.com/index.html">forum.azyrusthemes.com</a></div>
                <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
                    <ul class="socialicons">
                        <li><a href="https://github.com/topics/burma-project-ideas" target="_blank"><i class="fa fa-github"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
